
@{
    ViewBag.Title = "ConfirmOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<center>
    <br>
    <h2>Đơn hàng đã được xác nhận, chúng tôi sẽ giao tới cho quý khách nhanh nhất có thể!</h2>
    <br>
    <h2>Cảm ơn đã sử dụng dịch vụ của chúng tôi</h2>
    <br>
    <img src="~/Content/ImgLaptop/success.jpg">
    <br>
    <br>
    <br>
    <br>
    @Html.ActionLink("Trở lại trang chủ", "Index", "Home")
</center>


